@import"https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');


:root {
	--border-radius: 5px;
	--accent-color: #d82914;
	--background-color: #141414;
	--text-color: #ffffff;
}

* {
	font-family: 'Poppins', sans-serif;
}

body {
	background: var(--background-color);
	margin: 0;
	overflow-x: hidden;
}

main {
	margin-top: calc(100vh - 21rem);
}

section {
	color: var(--text-color);
	padding: 1.5rem 2.5rem;
}

section > div {
	box-sizing: border-box;
	display: flex;
	gap: 1rem;
	height: 12rem;
}

section .card {
	aspect-ratio: 1.78;
	background: var(--background-color);
	border-radius: var(--border-radius);
	box-shadow: 0 6px 24px 0 rgb(0 0 0 / 15%);
	color: var(--text-color);
	/*overflow: hidden;*/
	position: relative;
	transition: transform 0.15s;
}

section .card:hover {
	transform: scale(1.05);
}

section .card div {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

section .card div p {
	line-height: 1.617em;
	margin: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.7), 0 0 8px rgba(0,0,0,1.0);
}

section .card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: contrast(0.9) brightness(0.8);
}

#carousel {
	box-sizing: border-box;
	height: 90vh;
	overflow: hidden;
	left: 0rem;
	position: fixed;
	right: 0;
	user-select: none;
	top: 0;
	z-index: -50;
}

.carousel-slide {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-slide img {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
	-webkit-mask-image: linear-gradient(to top,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.2) 5%,
		hsla(0, 0%, 0%, 0.8) 15%,
		hsla(0, 0%, 0%, 1.0) 25%
  );
}

.carousel-text {
	left: 50%;
	padding: 2rem;
	position: absolute;
	text-align: center;
	top: calc(50% - 5vh);
	transform: translate(-50%,-50%);
	z-index: 20;
}

.carousel-text a {
	margin: 0;
}

.carousel-text h1 {
	color: var(--text-color);
	margin: 0;
	text-shadow: 0 1px 4px rgb(0 0 0 / 40%), 0 2px 8px rgb(0 0 0 / 20%), 0 0 16px rgb(0 0 0 / 30%);
}

.carousel-text p {
	color: var(--text-color);
	margin: 0.3rem 0 1rem 0;
	text-shadow: 0 1px 4px rgb(0 0 0 / 40%), 0 2px 8px rgb(0 0 0 / 20%), 0 0 16px rgb(0 0 0 / 30%);
}

.button-1,
.button-2,
.button-3 {
	border: none;
	border-radius: var(--border-radius);
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
}

.button-1 {
	background: var(--accent-color);
	box-shadow: 0 6px 24px 0 rgb(0 0 0 / 15%);
	color: var(--text-color);
}

.button-2 {
	background: transparent;
	box-shadow: 0 0 0 2px var(--accent-color) inset;
	color: var(--accent-color);
}

.button-2 {
}

.button-3 {
}

.unavailable {
	filter: contrast(0.7) brightness(0.4);
}

.text-size-3xl {
  font-size: 2.23rem;
}

.text-size-2xl {
	font-size: 1.9rem;
}

.text-size-xl {
	font-size: 1.618rem;
}

.text-size-l {
	font-size: 1.378rem;
}

.text-size-m {
	font-size: 1.174rem;
}

.text-size-s {
	font-size: 1rem;
}

.text-size-xs {
	font-size: 0.852rem;
}
