/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* variables */
:root {
	--border-radius: 5px;
	--box-shadow: 0 8px 32px rgba(0,0,0,0.2), 0 2px 8px rgba(0,0,0,0.3);
	--color-accent: #d82914;
	--color-background: #141414;
	--color-text: #ffffff;
	--font-family-body: 'Poppins', sans-serif;
	--font-family-heading: 'Poppins', sans-serif;
	--gap: 2rem;
	--transition: 0.2s;
}

/* typography */
a {
	color: var(--accent-color);
	font-family: var(--font-family-body);
}

button,
input {
	font-family: var(--font-family-body);
	font-weight: bold;
}

caption,
label,
li,
p,
span,
td,
th {
	color: var(--color-text);
	font-family: var(--font-family-body);
}

figcaption {
	color: var(--color-text);
	font-family: var(--font-family-body);
	font-weight: bold;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text);
	font-family: var(--font-family-heading);
}

/* style */
body {
	background: var(--color-background);
	margin: 0;
	overflow-x: hidden;
}

footer {
	padding: calc(var(--gap)/2);
	text-align: center;
}

main {
	margin-top: calc(100vh - 21rem);
}

section {
	color: var(--color-text);
	padding: var(--gap);
}

section > div {
	box-sizing: border-box;
	display: flex;
	gap: var(--gap);
	height: 12rem;
}

section .card {
	aspect-ratio: 1.78;
	background: var(--color-background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	color: var(--color-text);
	/*overflow: hidden;*/
	position: relative;
	transition: var(--transition);
}

section .card:hover {
	transform: scale(1.05);
}

section .card div {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

section .card div p {
	line-height: 1.617em;
	margin: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.7), 0 0 8px rgba(0,0,0,1.0);
}

section .card img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	filter: contrast(0.9) brightness(0.8);
}

#carousel {
	box-sizing: border-box;
	height: 90vh;
	overflow: hidden;
	left: 0;
	position: fixed;
	right: 0;
	user-select: none;
	top: 0;
	z-index: -50;
}

.carousel-slide {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-slide img {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
	-webkit-mask-image: linear-gradient(to top,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.2) 5%,
		hsla(0, 0%, 0%, 0.8) 15%,
		hsla(0, 0%, 0%, 1.0) 25%
  );
}

.carousel-text {
	left: 50%;
	padding: var(--gap);
	position: absolute;
	text-align: center;
	top: calc(50% - 5vh);
	transform: translate(-50%,-50%);
	z-index: 20;
}

.carousel-text a {
	margin: 0;
}

.carousel-text h1 {
	margin: 0;
	text-shadow: 0 1px 4px rgb(0 0 0 / 40%), 0 2px 8px rgb(0 0 0 / 20%), 0 0 16px rgb(0 0 0 / 30%);
}

.carousel-text p {
	margin: 0.3em 0 1em 0;
	text-shadow: 0 1px 4px rgb(0 0 0 / 40%), 0 2px 8px rgb(0 0 0 / 20%), 0 0 16px rgb(0 0 0 / 30%);
}

.button-1,
.button-2,
.button-3 {
	border: none;
	border-radius: var(--border-radius);
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
}

.button-1 {
	background: var(--color-accent);
	box-shadow: var(--box-shadow);
	color: var(--color-text);
	font-weight: bold;
}

.button-2 {
	background: transparent;
	box-shadow: 0 0 0 2px var(--color-accent) inset;
	color: var(--color-accent);
}

.unavailable {
	filter: contrast(0.7) brightness(0.4);
}

.text-size-3xl {
  font-size: 2.23rem;
}

.text-size-2xl {
	font-size: 1.9rem;
}

.text-size-xl {
	font-size: 1.618rem;
}

.text-size-l {
	font-size: 1.378rem;
}

.text-size-m {
	font-size: 1.174rem;
}

.text-size-s {
	font-size: 1rem;
}

.text-size-xs {
	font-size: 0.852rem;
}
