/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

/* variables */
:root {
	--border-radius: 5px;
	--box-shadow: 0 8px 32px rgba(0,0,0,0.2), 0 2px 8px rgba(0,0,0,0.3);
	--color-accent: #d82914;
	--color-background: #141414;
	--color-text: #ffffff;
	--font-family-body: 'Poppins', sans-serif;
	--font-family-heading: 'Poppins', sans-serif;
	--gap: 2rem;
	--transition: 0.2s;
	--card-count: 6; /* how many cards per row */
}

/* typography */
a {
	color: var(--color-accent);
	font-family: var(--font-family-body);
}

button,
input {
	font-family: var(--font-family-body);
	font-weight: bold;
}

caption,
label,
li,
p,
span,
td,
th {
	color: var(--color-text);
	font-family: var(--font-family-body);
}

figcaption {
	color: var(--color-text);
	font-family: var(--font-family-body);
	font-weight: bold;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--color-text);
	font-family: var(--font-family-heading);
}

/* style */
::-webkit-scrollbar { 
    display: none; 
}

body {
	background: var(--color-background);
	margin: 0;
	overflow-x: hidden;
}

footer {
	padding: var(--gap);
	text-align: center;
	width: 100%;
}

header {
	color: var(--color-text);
	display: flex;
	gap: var(--gap);
	justify-content: flex-end;
	padding: var(--gap);
	position: relative;
	z-index: 50;
}

main {
	margin-top: calc(100vh - 17rem);
}

section > h2 {
	margin: 1em 5rem 0 5rem;
	text-transform: capitalize;
}

#carousel {
	box-sizing: border-box;
	height: 90vh;
	overflow: hidden;
	left: 0;
	position: fixed;
	right: 0;
	user-select: none;
	top: 0;
	z-index: -50;
}

.carousel-slide {
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

.carousel-slide img {
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
	-webkit-mask-image: linear-gradient(to top,
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.2) 5%,
		hsla(0, 0%, 0%, 0.8) 15%,
		hsla(0, 0%, 0%, 1.0) 25%
  );
}

.carousel-text {
	left: 50%;
	padding: var(--gap);
	position: absolute;
	text-align: center;
	top: calc(50% - 5vh);
	transform: translate(-50%,-50%);
	z-index: 20;
}

.carousel-text a {
	margin: 2em 0 0 0;
}

.carousel-text h1 {
	margin: 0;
	text-shadow: 0 1px 4px rgb(0 0 0 / 40%), 0 2px 8px rgb(0 0 0 / 20%), 0 0 16px rgb(0 0 0 / 30%);
}

.carousel-text p {
	margin: 0;
	text-shadow: 0 1px 4px rgb(0 0 0 / 40%), 0 2px 8px rgb(0 0 0 / 20%), 0 0 16px rgb(0 0 0 / 30%);
}

.button-1,
.button-2,
.button-3 {
	border: none;
	border-radius: var(--border-radius);
	display: inline-block;
	font-weight: bold;
	padding: 1em 2em;
	text-decoration: none;
}

.button-1 {
	background: var(--color-accent);
	box-shadow: var(--box-shadow);
	color: var(--color-text);
}

.button-2 {
	background: transparent;
	box-shadow: 0 0 0 2px var(--color-accent) inset;
	color: var(--color-accent);
}

.card {
	aspect-ratio: 1.77777777777778;
	background: var(--color-background);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	color: var(--color-text);
	overflow: hidden;
	position: relative;
	scroll-snap-align: start;
	scroll-margin: 5rem;
	transition: var(--transition);
	width: calc(((100vw - var(--gap)) / var(--card-count)) - var(--gap));
}

.card:hover {
	/*transform: scale(1.05);*/
}

.card > div {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
}

.card > div p {
  margin: 0;
}

.card > img {
	filter: contrast(0.9) brightness(0.8);
	height: 100%;
	object-fit: cover;
	width: 100%;
	transition: var(--transition);
}

.card:hover img {
	filter: contrast(0.93) brightness(0.9);
}

.nav-left,
.nav-right {
	align-items: center;
	background: rgba(0,0,0,0);
	bottom: 1rem;
	color: var(--color-text);
	cursor: pointer;
	display: flex;
	justify-content: center;
	opacity: 0;
	position: absolute;
	top: 1rem;
	transition: var(--transition);
	width: 3rem;
	z-index: 100;
}

.nav-right {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	right: -5rem;
	transition: var(--transition);
}

.nav-left {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
	left: -5rem;
	transition: var(--transition);
}

.nav-left:hover,
.nav-right:hover {
	background: rgba(0,0,0,0.5);
}

.nav-right.visible {
	right: 0;
}

.nav-left.visible {
	left: 0;
}

.slider-outer {
	position: relative;
}

.slider-mid {
	box-sizing: border-box;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	width: 100%;
}

.slider-inner {
	display: flex;
	gap: var(--gap);
	padding: 1rem 5rem;
	width: fit-content;
}

.slider-inner:hover .nav-left,
.slider-inner:hover .nav-right {
	opacity: 1.0;
}

.unavailable {
	filter: contrast(0.7) brightness(0.4);
}

.text-size-3xl {
  font-size: 2.23rem;
}

.text-size-2xl {
	font-size: 1.9rem;
}

.text-size-xl {
	font-size: 1.618rem;
}

.text-size-l {
	font-size: 1.378rem;
}

.text-size-m {
	font-size: 1.174rem;
}

.text-size-s {
	font-size: 1rem;
}

.text-size-xs {
	font-size: 0.852rem;
}
